[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/surround"]
	path = bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/regbuf"]
	path = bundle/regbuf
	url = https://github.com/vim-scripts/regbuf.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/vim-scripts/snipmate-snippets.git
[submodule "repos/sparkup"]
	path = repos/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
